*{
    box-sizing: border-box;
}

.title {
    font-size: 40px;
    text-align: center;
    text-decoration: underline;
}

header {
    text-align: center;
    font-size: 15px;
    padding: 40px;
    background: lightgrey; 
}

nav {
    text-align: center;
    padding: 15px;
    border: 25px
}

/* #timer {

} */

body {
font-family: Arial, Helvetica, sans-serif;
background-color: rgb(112, 112, 112);
}

/* Add these styles to your CSS */
.question {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
    padding: 18px;
    display: flex;
    flex-direction: column; /* Display questions and choices as a column */
}

label {
    display: block;
    margin-bottom: 5px;
}

#question-container {
    text-align: center;
    flex-direction: column;
}

.options label {
    display: block;
    margin-bottom: 5px;
}
